{
  presets: ['react','es2015'],
  plugins: [
    'transform-flow-strip-types',
    'transform-class-properties',
    'transform-object-rest-spread',
    ['transform-builtin-extend', {globals: ['Error']}],
    'add-module-exports',
    'react-hot-loader/babel'
  ],
}
